@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Montserrat", sans-serif;
}
#hero {
  width: 100vw;
  max-height: 500px;
  aspect-ratio: 16/9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#hero h2, #hero h5{
  transition: all 0.5s ease;
}
section h2 {
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(56, 56, 56);
}

#services .img-container,
#about .img-container {
  height: 400px;
  aspect-ratio: 5/6;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  overflow: hidden;
  border-radius: 20px;
}
#services .img-container:hover,
#about .img-container:hover {
  background-size: 110%;
}
