@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Montserrat", sans-serif;
}
#side-nav{
  animation: slideRight 0.3s ease 1;
}
.overlay{
  animation: on 0.3s ease 1;
}
#side-nav .nav-items {
  display: block;
  max-width: 150px;
}
#side-nav .btn-container{
  margin: auto;
  width: 100%;
  padding: 1.5em;
  position: absolute;
  bottom: 5%;
  flex-direction: column;
}
#hero {
  width: 100vw;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#hero h2, #hero h5{
  transition: all 0.5s ease;
}
section h2 {
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(56, 56, 56);
}

#services .img-container,
#about .img-container {
  height: 400px;
  aspect-ratio: 5/6;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  overflow: hidden;
  border-radius: 20px;
}

#services .img-container:hover,
#about .img-container:hover {
  background-size: 110%;
}

@media  (max-width: 768px) {
  .navbar .nav-items, .navbar button{
    display: none;
  }
  #services h3{
    text-align: center;
  }
}
@media (min-width:769px) {

  .navbar .menu-icon{
    display: none;
  }
}
@keyframes slideRight {
  0%{
    transform: translateX(-100%);
  }100%{
    transform: translateX(0%);
  }
}
@keyframes on {
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}